@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai|Montserrat|Open+Sans|Roboto');

$lightgrey: #dddddd;
$darkgrey: #202225;
$grey: #A6A7A8;

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: $lightgrey;
}

.hidden-input {
    position: absolute;
    top: -9999px;
}

.title-bar {
    -webkit-app-region: drag;
    display: flex;
    height: 1.5rem;
    align-items: center;
    justify-content: space-between;
    background-color: $darkgrey;
    color: $grey;

    .title {
        position: relative;
        left: 20px;
        font-family: "Baloo Bhai";
    }
}

.title-btn {
    i {
        -webkit-app-region: no-drag;
        cursor: pointer;
        margin-right: 20px;
    }
}

.colors-container {
    margin: 20px 10px;
    display: flex;
    flex-wrap: wrap;
}

.color {
    @extend %flex-center;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;

    &.show-hover::before {
        content: "COPY";
        font-family: "Open sans";
        font-size: 0.8em;
        color: white;
        padding: 5px 10px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        opacity: 0;
        transition-duration: 0.2s;
    }

    &:hover::before {
        opacity: 1;
    }

    &::after {
        @extend %flex-center;
        content: "Copied";
        font-family: "Open sans";
        width: 100%;
        height: 45%;
        background-color: rgba(255, 255, 255, 0.5);
        position: absolute;
        opacity: 0;
        transition-duration: 0.2s;
    }
}

.clicked-effect {
    &::after {
        opacity: 1;
    }
}

.hex {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: white;
    font-size: 0.7em;
    font-family: "Roboto";

    &::before {
        content: '#';
    }
}